@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #ffef96   ;
  --secondary-color: #50394c ;
  --accent1-color: #b2b2b2;
  --accent2-color: #f4e1d2;

  /* change the values below to your chosen font(s) */
  --heading-font: "Kdam Thmor Pro";
  --paragraph-font: Roboto, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #50394c;  /* headlines on a white background */ 
  --headline-color-on-color: #f4e1d2; /* headlines on a colored background */ 
  --paragraph-color-on-white: #50394c; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #b2b2b2; /* paragraph text on a colored background */ 
  --paragraph-background-color: #50394c  ;
  --nav-link-color: #50394c;
  --nav-background-color: #ffef96;
  --nav-hover-link-color: #b2b2b2;
  --nav-hover-background-color: #50394c;
  }
  
body {
    max-width: 1600px;
    font-size: 22px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
    background-color: var(--headline-color-on-color); 
}
div {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
img {
    display: block;
    margin: 0 auto;
}
h1, h2, h3, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-color);
}
h4 {
    font-family: var(--heading-font);
    color: #050200;
}
h3 {
    text-decoration: underline;
    font-family: var(--heading-font);
}
h2 {
    text-align: center;
    font-family: var(--heading-font);
    margin: 0;
}
hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);
}
.header {
    align-items: center;
    font-family: var(--heading-font);
    background-color: var(--paragraph-background-color);;
    border-bottom: 1px solid var(--paragraph-color-on-color);;
    display: flex;
    justify-content: space-between;
    padding: 0 1.25rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}
header > h1, header > h2 {
    color: var(--headline-color-on-color);
    font-family: var(--heading-font);
}
footer {
    background-color: var(--accent2-color);
    text-decoration: underline;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-flow:row;
    margin: 1em;
 }

footer .social img {
    padding-top: 15px;
    color: var(--paragraph-color-on-color);
}
#footer {
    color: var(--paragraph-color-on-color);
    text-decoration: underline;
    font-family: var(--heading-font);
    text-align: justify;
}
footer a {
    color: var(--accent2-color);
    text-decoration: none;
    font-family: var(--heading-font);
    color: var(--paragraph-color-on-color);
    text-align: justify;
    padding:1em;
    min-width: 120px;
}
footer a:hover {
    font-family: var(--heading-font);
    color: var(--paragraph-color-on-color);
    text-align:center
}
p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    padding: 1em;
}
#background {
    height: 725px;
    background-color: var(--accent2-color);
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 8;
}
#button-box {
    text-align: center;
    margin-top: 50px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 0;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
    width: 100%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    font-family: "Helvetica";
    color: #83c5be;
    z-index: 1
}
#hero-img {
    width: 100%;
}
#hero-img2 {
    width: 85%;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
}
main section {
    text-align: center;
    font-family: var(--heading-font);
}
main section img {
    box-sizing:content-box;
}
.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}
.colors th {
    background-color: #999;
}
.colors td{
    width: 25%;
    height: 3em;
}
.primary {
    background-color: var(--primary-color);
}
.secondary {
    background-color: var(--secondary-color);
}
.accent1 {
    background-color: var(--accent1-color);
}
.accent2{
    background-color: var(--accent2-color);
}
p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    background-color: var(--headline-color-on-color);
    color: var(--nav-link-color);
    padding: 35px;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    text-decoration: underline;
}
.book, .join {
    background-color: var(--headline-color-on-color);
    color: var(--nav-link-color);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: var(--headline-color-on-color);
    color: var(--nav-link-color);
}
.msg {
    background-color: var(--headline-color-on-color);
    font-family: var(--heading-font);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2 {
    color: var(--nav-link-color);
    font-family: var(--heading-font);
}
.msg p {
    color: var(--nav-link-color);
    font-family: var(--heading-font);
    font-size: .8em;
    padding-bottom: 15px;
}
.card-img {
    border: 10px solid black;
    transition:.5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.sitemap {
    display: grid;
    justify-content: center;

    grid-template-columns: repeat(6, 15%);
    grid-template-rows: 3em 1.5em 1.5em 3em;
    grid-template-areas: ". . home home . ."
        ". . . top . ."
        ". left left right right ."
        "page2 page2 . . page3 page3";
}
.sitemap > div {
    text-align: center;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#contact {
    color: black;
    font-size: 2em;
    margin-top: 10px;
}
.home-title {
    color: var(--paragraph-color-on-color);
    font-size: 2em;
    margin-top: 10px;
}
.home-title2 {
    color: var(--headline-color-on-color);
    font-size: 1em;
    margin-top: 10px;
}
.sm-home {
    grid-area: home;
    background-color: #ccc;
    line-height: 3em;
}
.sm-page2 {
    grid-area: page2;
    background-color: #ccc;
    line-height: 3em;
}
.sm-page3 {
    grid-area: page3;
    background-color: #ccc;
    line-height: 3em;
}
.top {
    grid-area: top;
    border-left: 1px solid;
}
.left {
    grid-area: left;
    border-top: 1px solid;
    border-left: 1px solid;
}
.right {
    grid-area: right;
    border-top: 1px solid;
    border-right: 1px solid;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.rivers-card {
    margin: 200px 0;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.camping-card {
    margin-top: 200px;
    margin-left: 100px;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}
.rapids-card {
    margin: 200px;
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
}
.moveDown {
    margin-top: 3em;
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }          

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

body {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  background: #edf6f9;
  background: linear-gradient(to right, var(--accent1-color), var(--accent2-color), var(--nav-background-color));
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #edf6f9;
background: linear-gradient(to right, var(--nav-link-color),var(--secondary-color));

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #edf6f9;
background: linear-gradient(to bottom, var(--nav-link-color),var(--secondary-color));
  color: #edf6f9;
}

.tag-brown {
  background: #edf6f9;
background: linear-gradient(to bottom, var(--nav-link-color),var(--secondary-color));
  color: #edf6f9;
}

.tag-red {
  background: #edf6f9;
background: linear-gradient(to bottom, var(--nav-link-color),var(--secondary-color));
  color: #edf6f9;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #edf6f9;
}